.homeslide {
    color: white;
    position: relative;
    background-image: linear-gradient(#4ac5cd, #ba55d3);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Abel', sans-serif !important;
}

a {
    transition: 0.5s;
}

.navbar-custom {
    border-bottom: solid #23272b 1px;
}

.parent {
    height: 100%;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
}

h6 {
    font-size: small;
}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    color: #343a40;
    text-decoration: none;
}

a > i {
    margin: 0 10px;
    font-size: 2em;
}

.modal-content a {
    color: #343a40;
}

.modal-content {
    color: #343a40;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
        min-width: 671px;
    }
}

@media (max-width: 767px) {
    .row {
        text-align: center !important;
        display: block !important;
    }
}

.subtitle {
    padding-top: 13px;
    margin-bottom: -5px;
}

.contact {
    margin-bottom: 10px;
}

.project {
    text-decoration: underline;
}

.alert-dark {
    text-align: center;
    background-color: rgba(52,58,64,0.9);
    border-color: rgba(52,58,64,0.9);
    border-radius: 3px;
    color: white;
    padding: 10px;
    max-width: 200px;
}

.scrolldiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 98%;
    margin-top: -50px;
}

.scrolldown {
    position: relative;
    width: 24px;
    height: 24px;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

.details h1 {
    font-family: 'Boogaloo', sans-serif !important;
    margin-top: 60px;
}

.details .row {
    padding-top: 15px;
}