body,html {
    color: white;
    position: relative;
    background-image: url("../img/background.svg");
    height: 100%;
    font-family: 'Abel', sans-serif !important;
}

a {
    transition: 0.5s;
}

.navbar-custom {
    border-bottom: solid #23272b 1px;
}

.bg-darker {
    background-color: #23272b;
}

.container {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parent {
    height: 100%;
    display: flex; /* contexte sur le parent */
    flex-direction: column; /* direction d'affichage verticale */
    justify-content: center; /* alignement vertical */
}

h6 {
    font-size: small;
}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    color: #343a40;
    text-decoration: none;
}

a > i {
    margin: 0 10px;
    font-size: 2em;
}

.modal-content a {
    color: #343a40;
}

.modal-content {
    color: #343a40;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
        min-width: 671px;
    }
}

@media (max-width: 991px) {
    .row {
        text-align: center !important;
        display: block !important;
    }
}